body {
    font-family: Poppins;
    color: #e3e3e3;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.profilename {
    color: turquoise;
    font-size: 50px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 2px #000000;
}

.icon {
    border-radius: 50px;
    width: 300px;
    height: 375px;
    float: right;
}

.par {
    text-align: center;
    font-size: 25px;
}

.lefpar {
    text-align: left;
    font-size: 25px;
}

.rigpar {
    text-align: right;
    font-size: 25px;
}

.wrbox1 {
    width: 1200px;
    height: 380px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: #e3e3e3;
    border-radius: 10%;
    font-size: 25px;
}

.wrbox2 {
    width: 1200px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: #e3e3e3;
    border-radius: 10%;
}

.link {
    font-size:25px;
    color: #e3e3e3;
}
